.jumbotron
  .container
    .row.well
      .col-md-6
        %h2 Video brens , you can learn it the fun way!
        %ul
          %li Animated videos
          %li tutors note , and your own notes!!
          %li ask questions and get the best answer (Stackoverflow)
      .col-md-6
        =image_tag("home-img.png", height:"250",width:"400")
.row
  New courses!
.row
  .col-md-4
    %a{class:"thumbnail", href:"#"}
      =image_tag("home-img.png")
  .col-md-4
    %a{class:"thumbnail", href:"#"}
      =image_tag("home-img.png")
  .col-md-4
    %a{class:"thumbnail", href:"#"}
      =image_tag("home-img.png")
.row
  Most rated courses!

