%h1 Courses List

%table
  - unless @courses.nil?
    - @courses.each do |course|
      %tr
        %td= image_tag course.avatar.url
        - unless course.sections.first.nil? || course.sections.first.videos.first.nil?
          %td= link_to course.title, course_section_video_path(course, first_section(course), first_video(course))
        - else
          %td
            = course.title