%h1 Stack Overflow

%table{class: "table table-hover table-striped table-condensed"}
  %tr
    %th Title
    %th # of Answers
    %th # of Votes

  - @questions.each do |question|
    %tr
      %td= link_to question.title, tutor_course_question_path(@tutor, @course, question)
      %td= question.answers.count
      %td= question.overall_votes