%video{:width => 320, :height => 240, :controls => true}
  %source{:src => @video.video_file.url}

<<<<<<< HEAD
- unless @video.duration.nil?
  %h3= humanize_secs @video.duration

= link_to 'back to course', admin_course_path(@course)
=======

= link_to 'Edit', edit_admin_course_section_video_path(@course,@section,@video)
= link_to 'back to course', admin_course_path(@course)

>>>>>>> ed693ab8592c222c2dbf25652e9d2044e4d333ee
