%video{:width => 320, :height => 240, :controls => true}
  %source{:src => @video.video_file.url}

- unless @video.duration.nil?
  %h3= humanize_secs @video.duration

= link_to 'Edit', edit_admin_course_section_video_path(@course,@section,@video)
= link_to 'back to course', admin_course_path(@course)
